

#root {
  text-align: center;
  background-color: aliceblue;
}



.navbar {
  background-color: #ad5048;
  color: rgb(100, 73, 73);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
 
}

.logo {
  font-size: 2rem;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(80, 61, 53);

}

.nav-links {
  display: flex;
  gap: 1rem;
  color: aliceblue;
  font-size: x-large;
  font-style: italic;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  
}

.nav-link:hover {
  background-color: #e98f8f;
}

/* .loginScreen {
  display: block;
  padding: 5px;
  margin: 5px;
  text-shadow: ;
} */

.loginBtn {
  color: rgb(104, 48, 48);
  width: 200px;
  font-weight: 400;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-right: 40%;
  
}

.linkDiv {
  display: flex;
  flex-direction: column;
  border: solid white;
  margin: 40px;
  padding: 40px;
  box-shadow: 2px 2px 20px 2px black;
}

.messageCont {
  display: flex;
  flex-direction: column;
  border: solid white;
  margin: 40px;
  padding: 40px;
  box-shadow: 2px 2px 20px 2px rgb(243, 243, 243);
}

.h1 {
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color: rgb(31, 22, 22);
  
}
.link {
  color: antiquewhite;
}



