

#root {
  text-align: center;
}



.navbar {
  background-color: #2e2e2e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  font-size: 2rem;
  color: red;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #555;
}

/* .loginScreen {
  display: block;
  padding: 5px;
  margin: 5px;
  text-shadow: ;
} */

.loginBtn {
  color: red;
  width: 200px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-right: 40%;
  
}

.linkDiv {
  display: flex;
  flex-direction: column;
  border: solid white;
  margin: 40px;
  padding: 40px;
  box-shadow: 2px 2px 20px 2px black;
}

.messageCont {
  display: flex;
  flex-direction: column;
  border: solid white;
  margin: 40px;
  padding: 40px;
  box-shadow: 2px 2px 20px 2px black;
}
